$p_header:0.6rem 1rem;
$bg_header:antiquewhite;
$jc_header:space-between;
$bg_nav:#336699;
$jc_nav_ul:flex-end;
$bg_img:blueviolet;
$bg_lihov:black;
$bg_ulhov:crimson;
$bg_main:$bg_ulhov;
$bg_section:red;
$bg_aside:darkorange;
$bg_footer:blueviolet;
$fontFam: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;