@import "variables";
body{
    font-family:$fontFam;
    background-color: black;
}
header{
    padding: $p_header;
    background-color:$bg_header ;
    display: flex;
justify-content:$jc_header;
}
nav{
    background-color: $bg_nav;
}
nav ul{
    display: flex;
    justify-content: $jc_nav_ul;
}
nav li{
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
.img{
    background-color: $bg_img;
}
li:hover{
    background-color: $bg_lihov;
    color: white;
}
ul:hover{
    background-color: $bg_ulhov;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
main{
    flex-grow: 1;
    display: flex;
    background-color: $bg_main;
    padding: 10px;
}
section{
    background-color: $bg_section;
    padding: 10px;
}
aside{
    flex: 2;
    background-color: $bg_aside;
    padding: 10px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}
footer{
    display: flex;
    background-color: $bg_footer;
}
div.foot{
    flex-direction: column;
    padding: 10px;
    display: flex;
}