$Primary: #4a148c;
$Primary-light:#7c43bd;
$Primary-dark:#12005e;
$Secondary:#ffeb3b;
$Secondary-light:#ffff72;
$Secondary-dark:#c8b900;
$Text-Primary:#ffffff;
$text-secondary:#000000;
$Font-primary:Roboto;
$Font-secondary:Roboto slab;
