// Colores
    $color-primario: #216a93;
    $color-primario-80: #4e86a7;
    $color-primario-60: #78a6bf;
    $color-primario-40: #a5c3d3;
    $color-primario-20: #d1e0e8;


    $color-secundario: #942f36;
    $color-secundario-80: #a9585f;
    $color-secundario-60: #bf8084;
    $color-secundario-40: #d4acab;
    $color-secundario-20: #e8d5d6;


    $color-terciario: #E9ECF2;